<!DOCTYPE html>
<html>
<head>
    <title>Add TV</title>
    <link rel="stylesheet" href="/static/style_add.css">
</head>
<body>
    <h2>Add New Television</h2>
    <form method="POST">
        <input name="brand" placeholder="Brand" required><br>
        <input name="model" placeholder="Model" required><br>
        <input type="number" step="0.01" name="price" placeholder="Price" required><br>
        <textarea name="description" placeholder="Description" required></textarea><br>
        <button type="submit">Add TV</button>
    </form>
</body>
</html>
